body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px 0;
}

.opciones {
    margin-top: 50px;
}

button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #0066cc;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004080;
}
